/* CSS stylesheet created by touyou for touyou.github.io */

#container { width: 100%;
			margin: auto;}
section { width: 80%;
		float: right; }
article {}
aside { width: 20%;
		float: left; }
footer { clear: both; }

/* header */
header { width: 100%; }
hgroup.title { padding: 0px; }
header h1 { margin: 0;
			float: center; }
#htitle { float: center; }
nav.menu { margin-top: 11px;
		width: auto;}

/* main menu */
nav.menu { font-size: 0.75; }
nav.menu ul { margin: 0;
			padding: 0; }
nav.menu li { list-style-type: none;
			float: left; }
nav li a { display: block;
			width: 120px;
			line-height: 25px;
			border-right: solid 1px #000;
			color: #000;
			text-align: center;
			text-decoration: none; }
nav.menu li.first a { border-left: solid 1px #aaa; }
nav li a:hover { background-color: skyblue; }

/* side menu */
nav.sidemenu { font-size: 0.50; }
nav.menu ul { margin: 0;
			padding: 0; }
nav.sidemenu li { list-style-type: none; }
nav.sidemenu li a { border: solid 1px #000;
					border-right: none;
					border-left: none; }

/* post */
article.post { width: auto; }
article.post h3 { font-size: 1em; }
.posttext { font-size: 0.875em;
			line-height: 1.5; }
.posttext p { margin: 0;
			margin-bottom: 20px; }

/* footer */
footer { width: 100%; 
		padding: 0;
		overflow: hidden;}
#copyright { width: 50%;
			float: right;
			text-align: right; }
#copyright small { font-size: 0.75;
				margin: 0; }
