/* CSS stylesheet created by touyou for touyou.github.io */

.wrapper {
    width: 100%;
    margin: auto;
}
.backimage {
    width: 30%;
    float: left;
}
.wrapper {
    width: 65%;
    float: right;
}
header, nav, article, aside, section, footer {
    display: block;
}
section {
    width: 100%;
    text-align: left;
    clear: both;
}
article {}
footer {
    clear: both;
}

/* header */

header {
    width: 100%;
    text-align: right;
}
hgroup.title {
    padding: 0px;
}
header h1 {
    margin: 0;
    float: center;
}
#htitle {
    float: center;
}

/* main menu */

nav {
    text-align: right;
}
nav.menu {
    margin-top: 11px;
    width: 100%;
}
nav.menu {
    font-size: 0.75;
}
nav.menu ul {
    margin: 0;
    padding: 0;
}
nav.menu li {
    list-style-type: none;
    float: center;
    display: inline-block;
}
nav li a {
    width: 120px;
    line-height: 25px;
    color: #000;
    text-align: center;
    text-decoration: none;
}
nav li a:hover {
    background-color: skyblue;
}

/* post */

article.post {
    width: 100%;
}
article.post h3 {
    font-size: 1em;
}
.posttext {
    font-size: 0.875em;
    line-height: 1.5;
}
.posttext p {
    margin: 0;
    margin-bottom: 20px;
    /*	padding-left: 1em;*/
    /* text-indent: 1em; */
}
.linktext p {
    display: inline;
}
.linktext li {
    list-style-type: none;
    float: center;
    display: inline-block;
}
.linktext li a {
    display: block;
    line-height: 25px;
    color: #000;
    text-align: center;
    text-decoration: none;
}
.linktext li a:hover {
    background-color: skyblue;
}

/* footer */

footer {
    width: 100%;
    padding: 0;
    overflow: hidden;
}
#copyright {
    width: 100%;
    float: center;
    text-align: center;
    color: white;
    background-color: black;
}
#copyright small {
    font-size: 0.75;
    margin: 0;
}
