/* paddingとmarginを0 */
* {
    margin: 0;
    padding: 0;
}

/* common */
body {
    font-family: YuGothic, Meiryo, sans-serif;
    font-size: 14px;
    background-color: #222831;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: #00adb5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
}

.itunes {
    display:inline-block;
    overflow:hidden;
    background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;
    background-position: 50% 50%;
    width: 300px;
    height: 300px;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.itunes:hover img {
    opacity: 0.3;
}

/* layout and grid */
.container{
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.col-1{ width: 60px;}
.col-2{ width: 140px;}
.col-3{ width: 220px;}
.col-4{ width: 300px;}
.col-5{ width: 380px;}
.col-6{ width: 460px;}
.col-7{ width: 540px;}
.col-8{ width: 620px;}
.col-9{ width: 700px;}
.col-10{ width: 780px;}
.col-11{ width: 860px;}
.col-12{ width: 940px;}

.col-first { margin-left: 0;}
.col-last { margin-right: 0;}

/* header */
header {
    overflow: hidden;
    padding: 5px 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    background: #393e46;
}

nav {
    font-family: 'Orbitron', sans-serif;
    float: right;
    margin-top: 30px;
}

nav li{
    margin-right: 16px;
    display: inline-block;
    font-size: 18px;
}

nav li a {
    color: #eee;
}

/* key-visual */
.key-visual {
    min-height: 407.5px;
    padding-top: 70px;
    background: url(../res/hero.png);
    -webkit-background-size: cover;
    background-size: cover;
}

.key-visual h1 {
    font-size: 50px;
    color: #eee;
}

.key-visual .title {
    background-color: rgba(57, 62, 70, 0.7);
    margin-top: 200px;
    padding: 10px;
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* main */
main {
    background: #eee;
    color: #222831;
    padding: 0px 20px 20px 20px;
    float: right;
    width: 900px;
    min-height: 600px;
    margin: 30px 5px 30px 5px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

main h2 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 3px solid #00adb5;
}

main p {
    padding-left: 5px;
}

main p a {
    color: #393e46;
    text-decoration: underline;
}

main p li a {
    color: #393e46;
    text-decoration: underline;
}

.calendar h2 {
    font-family: YuGothic, Meiryo, sans-serif;
    font-size: initial;
    margin-top: initial;
    margin-bottom: initial;
    border-bottom: none;
}

.links li {
    list-style-type: square;
}

.links ul {
    padding-left: 30px;
}

.ios table {
    padding: 10px;
    width: 90%;
}

.ios td {
    paddin: 10px;
}

/* footer */
footer {
    background: #393e46;
    color: #eee;
    overflow: auto;
    width: 100%;
    min-width: 960px;
    padding: 20px 0;
}

footer li {
    display: inline-block;
}

.panel-item img {
    width: 120px;
    height: 120px;
    opacity: 0.5;
    -webkit-transition: 1.5s ease;
    -o-transition: 1.5s ease;
    transition: 1.5s ease;
}

.panel-item:hover img {
    opacity: 1;
    -webkit-transition: 1.5s ease;
    -o-transition: 1.5s ease;
    transition: 1.5s ease;
}

.copyright {
    width: 300px;
    float: right;
    text-align: right;
    margin: 30px 10px 10px 0;
}
