doctype html
html
  head
    /--- meta data
    meta charset="UTF-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    meta http-equiv="X-UA-Compatible" content="ie=edge"
    meta name="author" content="touyou"
    meta name="robots" content="index, follow"
    meta name="keywords" content="touyou, touyoubuntu, とうよう, とーよー"
    meta name="description" content="touyou Fujii Yosuke"
    /--- end

    /--- style
    link rel="stylesheet" href="css/style.css"
    /--- end

    title touyou

  body
    header ヘッダー
    nav
      ul
        li
          a href="#about" about
        li
          a href="#creations" creations
        li
          a href="#link" links
        li
          a href="http://touyoubuntu.hatenablog.com/" blog
    main
      section#about
        h1
          | About
        .p-about__bio
          p
            | Fujii Yosuke a.k.a. touyou
            br
            | 1995/11/21 male
            br
            | UTokyo CS B4
        .p-about__disc
          p
            | 転勤族の父のもと、日本の真ん中らへんを転々とし、現在埼玉に腰を落ち着けている東大生。
            br
            | 中二でドラマの影響からプログラミングを始め、中高を通した活動の中「ITでのモノづくり」にはまる。
          p
            | その流れで大学に入学してからLife is Tech !にiPhoneメンターとして携わりながら、アプリ・教材などはじめ多方面のモノづくりに触れる。一方で大学では理学部情報科学科に進学し、Computer Scienceに関して学ぶ。
          p
            | 好きなことは創ること。気の赴くままに数々の創作活動を続けている。
          p
            | interest: iOS / Android / Web / Guitar / Song / Poem / Compiler / Movie / Graphic / Puzzle
            br
            | skill: Swift / Kotlin / Java / C/C++ / Python / HTML / CSS / JavaScript / OCaml / Scheme / Assembly / VerilogHDL / Sketch.app / illustrator / Photoshop / Premire / AfterEffects
      section#creations
        h1
          | Creations
        .p-creations__citation
          p
            | - What one does is more important than what one says. -
        .p-creations__device
          .p-creations__device__mobile
            h2 Mobile Apps
            img src="res/iphonex.png"
          .p-creations__device__mac
            h2 Other Creations
            img src="res/macbookpro.png"
      section#link
        h1
          | Links
    footer
      small Copyrights &copy; 2015- touyou. All Rights Reserved.
