body, textarea {
  font-size: 12px;
  font-family: 'Courier New';
}

.container {
  width: 500px;
  margin: 20px auto;
}

.row {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  height: 50px;
  margin-bottom: 5px;
}

h2 {
  font-size: 14px;
  border-bottom: 1px solid #666;
  color: #666;
  padding: 0 0 4px 0;
  letter-spacing: 0.05em;
}

.source > span {
  padding: 0 2px;
  color: #bbb;
  display: inline-block;
  cursor: pointer;
  #border-bottom: 4px solid transparent;
}

.source > span.current {
  font-weight: bold;
  color: #666;
  border-bottom: 4px solid #ccc;
}

.hidden {
  display: none;
}

textarea:disabled {
  background: #eee;
}
