/*共通*/
div.img {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  background: #bdb00d;
}

/*clear:both*/
div#first {
  width: 360px;
  background: #4d4d4d;
}
div.dummy {
  clear: both;
}

/*overflow:hidden*/
div#second {
  overflow: hidden;
  width: 360px;
  background: #4d4d4d;
}

/*clearfix*/
div#third:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}

div#third {
  width: 360px;
  background: #4d4d4d;
}
