/* ==========================================================================
 Navigation
============================================================================*/
nav {
    // スマホ
    width: 100%;
    position: fixed;
    z-index: 50;
    top: 0;
    background: rgba(10, 10, 10, 0.5);
    padding-top: 1%;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: block;
    list-style-type: disc;
    flex: 0 1 auto;
}

nav li {
    margin-right: 16px;
    display: inline-block;
    font-size: 0.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    @include mediaquery(land) {
        // スマホ横
        font-size: 0.8rem;
    }

    @include mediaquery(tablet) {
        // タブレット
        font-size: 0.8rem;

        @include mediaquery(land) {
            // タブレット横
        }
    }

    @include mediaquery() {
        // PC
        font-size: 1.2rem;
    }
}

nav li a {
    color: #eee;
    text-decoration: none;
}