/* ==========================================================================
 About
============================================================================*/
#about {
    // スマホ
    background: #000;
    color: #eee;
    font-family: Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
    display: block;

    @include mediaquery(land) {
        // スマホ横
    }

    @include mediaquery(tablet) {

        // タブレット
        @include mediaquery(land) {
            // タブレット横
        }
    }

    @include mediaquery() {
        // PC
    }
}

/* ==========================================================================
 Creations
============================================================================*/
#creations {
    // スマホ
    background: #111;
    color: #eee;
    display: block;

    @include mediaquery(land) {
        // スマホ横
    }

    @include mediaquery(tablet) {

        // タブレット
        @include mediaquery(land) {
            // タブレット横
        }
    }

    @include mediaquery() {
        // PC
    }
}

/* ==========================================================================
 Links
============================================================================*/
#link {
    // スマホ
    background: rgb(89, 182, 52);
    display: block;

    @include mediaquery(land) {
        // スマホ横
    }

    @include mediaquery(tablet) {

        // タブレット
        @include mediaquery(land) {
            // タブレット横
        }
    }

    @include mediaquery() {
        // PC
    }
}