.p-about__disc {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.0rem;
}

.p-about__disc p {
    margin-bottom: 3%;
    line-height: 1.4;
}

.p-about__disc .p-about__interest {
    margin-top: 10%;
    margin-left: -5%;
    margin-right: -5%;
    margin-bottom: 0;
    font-size: 0.9rem;
}

.p-about__bio {
    margin-left: 10%;
    margin-bottom: 10%;
    font-family: 'urwdin', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}